/**
 * @name: 		global.css
 * @author: 	Albert Harounian
 * @since:		August 06, 2008
 * @desc:		General classes
 *
 */

body{
	margin: 0px;
	padding: 0px;
	font:normal 12px arial;
	color: black;
	overflow-y:scroll;
	.overflow-y:auto;
}
*{
	font:normal 12px arial;
	color: black;
}
a {
	font:normal 12px arial;
	color: #515151;
	text-decoration: none;

}
ul {
list-style-type:none;
}
a img{
	border: 0px;
}
a:hover{
	text-decoration: underline;
}
img{
	vertical-align:middle;
}

.clear_all {
	clear:both;
}

.floatRight {
float:right;
}
.floatLeft{
float:left;
}
/**
 * *************************************************************************************
 * IM classes
 * *************************************************************************************
 */

#centerContentWrapper {
width: 791px;
height: 700px;
margin-top:5px;
}

#centerContentTop{
background: url(/_media/images/main_content_bg.png) 0 0 no-repeat;
height: 4px;
width: 791px;
}

#centerContent{
background:url(/_media/images/main_content_bg_strip.jpg) repeat-y;
height: auto;
width: 792px;
margin-left: 2px;
}

#centerContentBottom{
background: url(/_media/images/main_content_bg.png) 0 -6px no-repeat;
height: 5px;
width: 791px;

}


#cloudBG {
	background: url(/_media/images/cw_header_sky.jpg) no-repeat;

}


#top {
	width: 793px;
	margin: 0 auto;
}
#mainNavWrapper{
	width:1000px;
	height:40px;
	margin-bottom:25px;
}
#mainNavLeft {
	background:url(/_media/images/cw_top_header_left.png);
	width: 5px;
	height:40px;
	float:left;
	margin-left:0;
}
#mainNav {
	background: url(/_media/images/cw_top_header_mid.png);
	width: 970px;
	height: 40px;
	float: left;
	margin-left: 0;
	margin-right: 0;
}

#mainNavRight {
	background:url(/_media/images/cw_top_header_right.png);
	width: 5px;
	height:40px;
	float:left;
}
.mainNavTabs {
	float:right;
	width: 150px;
}

#sidebar {
	width: 164px;
	float:right;
	height: 1000px;

}

#cityLogo {
	background: url(/_media/images/citywallSprite.png) no-repeat -46px -3px;
	width: 128px;
	height: 69px;
	margin-top: -65px;
}
#mainContent {
	float: left;
	width: 787px;
}


#searchBarWrapper {
	width: 793px;
	height: 75px;
}

#searchBarLeft {
	background:url(/_media/images/citywall_searchbg_left.png) no-repeat;
	float:left;
	height:72px;
	width:5px;
}

#searchBar {
	background: url(/_media/images/citywall_searchbg_mid.png);
	float: left;
	height: 72px;
	width: 783px;
}

#searchBarRight {
	background:url(/_media/images/citywall_searchbg_right.png) no-repeat;
	float:left;
	height:72px;
	width:5px;
}

#mainSearch {
	width: 487px;
	height: 30px;
	float: right;
	margin-top: 20px;
	margin-right: 10px;
}

#searchButton {
	background: url(/_media/images/citywallSprite.png) no-repeat -55px -157px;
	height: 40px;
	width: 129px;
	float: right;
	margin-top: 20px;
	margin-right: 10px;
}

#adButton {
	background: url(/_media/images/citywallSprite.png) no-repeat -55px -77px;
	height: 60px;
	width: 129px;
	float: right;
	margin-top: 6px;
	margin-right: 10px;
}
	#sectionBar {
	width: 793px;
	height: 150px;
	background: #fff;
}
#fbConnect {
	margin: 0 auto;
	width: 165px;
	margin-top: 2px;
}

#fbConnectTop {
	background: url(/_media/images/sidebar/citywall_right_side_bar_top.png) no-repeat;
	width:164px;
	height:4px;
	}

#fbConnectBox {
	background: url(/_media/images/sidebar/citywall_right_side_bar_mid.png) repeat-y;
	width: 164px;
	height:60px;
}
#fbConnectBottom {
	background: url(/_media/images/sidebar/citywall_right_side_bar_bott.png) no-repeat;
	width: 164px;
	height:4px;

}

#fbImage {
	width: 51px;
	height: 51px;
	float: right;
	border: 1px solid #e3e4de;
	margin: 4px 5px 5px 5px;
}

#sidebarBannerAd {
	width: 150px;
	height: 700px;
	margin: 15px auto;
	background:#fff;
}

.grayArrow {
	background: url(/_media/images/categorySprite.png) 119px 290px;
	width: 10px;
	height: 19px;
	margin-right: 5px;
}
.grayPointer {
	background: url(/_media/images/categorySprite.png) 175px 290px;
	width: 10px;
	height: 19px;
	margin-right:5px;
}

.bluePointer {
	background: url(/_media/images/categorySprite.png) 76px 250px;
	width: 9px;
	height: 13px;
	margin-right: 5px;
	margin-top: 6px;
}



.grayBubbleWrapper {
	margin: 5px auto;
	height:15px;
}

.grayBubbleLeft {
	background:url(/_media/images/bubble_boy_left.png) no-repeat;
	width: 8px;
	height: 15px;
	float:left;
}

.grayBubbleMid {
	background:url(/_media/images/bubble_boy_mid.png) repeat-x;
	height:15px;
	float:left;
}

.grayBubbleRight {
	background:url(/_media/images/bubble_boy_right.png) no-repeat;
	width: 8px;
	height: 15px;
	float:left;
}

.whiteBubbleWrapper {
	margin: 5px auto;
	height:15px;
	width: 53px;
	float: left;
	margin-left: 5px;
}

.whiteBubbleLeft {
	background:url(/_media/images/bubble_girl_left.png) no-repeat;
	width: 6px;
	height: 15px;
	float:left;
}

.whiteBubbleMid {
	background:url(/_media/images/bubble_girl_mid.png) repeat-x;
	height:15px;
	float:left;
}

.whiteBubbleRight {
	background:url(/_media/images/bubble_girl_right.png) no-repeat;
	width: 8px;
	height: 15px;
	float:left;
}


.grayBorderBottom {
	width: 162px;
	height:1px;
	border-bottom:1px solid #e3e4de;
}
.connectedName {
	padding: 5px;
	float: right;
}

.messageNotifications {
	background: url(/_media/images/categorySprite.png) -58px -33px;
	height: 27px;
	width: 35px;
	font-size:10px;
	float:right;
	margin-right: 10px;
}
#connect {
	height: 61px;
	width: 164px;
}
.messageCounter {
	color: white;
	font-size: 11px;
	margin-left: 7px;
}

.searchButton {
	background: url(/_media/images/categorySprite.png) -123px -36px;
	width: 26px;
	height: 22px;
}

.newsBlurb {
	height:15px;
}

.leftNewsBorder {
	background: url(/_media/images/categorySprite.png) -145px 103px;
	width: 7px;
	height: 15px;
	float:left;
}

.newsBlurbContent {
	float:left;
	height:15px;
}

.rightNewsBorder {
	background: url(/_media/images/categorySprite.png) -151px 103px;
	width: 7px;
	height: 15px;
	float:left;
}
.contentHeader {
	padding-right: 11px;
	padding-top: 10px;
	width: 787px;
	height: 30px;
}
.headerTitle {
	font-size: 18px;
	font-weight: 500;
	margin-right:5px;

}
.torquoise {
	color:#076C78;
}

#filterButton {
	background: url(/_media/images/categorySprite.png) no-repeat;
	width: 110px;
	height: 31px;
	margin-top: -4px;
}

#filterSearch {
	width: 50px;
	margin-left: 14px;
	margin-right: 4px;
}

.tabBG {
	background: url(/_media/images/tabs_sprite.png) 0 31px;
	width: 82px;
	height: 20px;
	margin-right: 5px;
	text-align: center;
	padding-top: 10px;
	color: #2371B3;
	font-weight: bold;
}

.selectedTabBG {
	background: url(/_media/images/tabs_sprite.png) no-repeat;
	width: 82px;
	height: 23px;
	text-align: center;
	padding-top: 8px;
	margin-top: 1px;
	color: #063163;
	font-weight: bold;
}

.selectionsBar {
	border-bottom: 1px #e3e4de solid;
	width: 791px;
	height: 30px;
	padding-top: 21px;
}

#typeSelectButtons {
	margin-right:5px;
}

#privateSelect {
	background: url(/_media/images/blue_white_buttons.png) repeat scroll -113px 0 transparent;
	height: 19px;
	width: 48px;
	text-align: center;
	color: white;
	padding-top: 5px;

}
#agentSelect {
	background: url(/_media/images/blue_white_buttons.png) repeat scroll -65px 0 transparent;
	height: 20px;
	width: 49px;
	color: #959595;
	text-align: center;
	padding-top: 5px;
}


#viewSelectButtons {
	margin-right:5px;
}

#groupView {
	background: url(/_media/images/blue_white_buttons.png) repeat scroll 0 0 transparent;
	height: 25px;
	width: 33px;
}
#listView {
	background: url(/_media/images/blue_white_buttons.png) repeat scroll -32px 0 transparent;
	height: 24px;
	width: 32px;

}
#leftArrowContainer {
	float:left;
	width: 20px;
	height: 250px;
}
#leftArrow {
	background: url(/_media/images/categorySprite.png) 0 -29px;
	width: 23px;
	height: 105px;
	margin-top: 150px;
	margin-left: 35px;
}
#rightArrowContainer {
	float:right;
	width: 20px;
	height: 250px;

}
#rightArrow {
	background: url(/_media/images/categorySprite.png) -28px -28px;
	width: 23px;
	height: 105px;
	margin-top: 150px;
	margin-left: -24px;
}
#resultsBox {
	float: left;
	width: 723px;
	margin: 10px;
}

.listingImg{
	background:url(/_media/images/filler/apt_image_filler.png);
	width:153px;
	height:94px;
	z-index:1;
	margin: 5px auto;
}

.removeButton {
	background: url(/_media/images/categorySprite.png) 173px -65px;
	width: 23px;
	height: 21px;
	z-index: 1000;
	margin-top: -1px;
	margin: 2px auto;
}

.starButton {
	background: url(/_media/images/categorySprite.png) 143px -65px;
	width: 23px;
	height: 21px;
	z-index: 1000;
	margin: 2px auto;
}

.buttonContainer {
	width: 25px;
	float: right;
	z-index: 100000;
	height: 45px;
	background: #fff;
}

.grayLine {
	width:160px;
	heght: 1px;
	border-bottom:1px solid #e3e4de;
}

.leftGrayArrow  {
	background: url(/_media/images/categorySprite.png) -133px -79px;
	width: 7px;
	height: 18px;
	margin-top: 0;
}

.rightGrayArrow {
	background: url(/_media/images/categorySprite.png) -144px -79px;
	width: 7px;
	height: 18px;
	margin-top: 0;
}

.paginationContainer {
	height: 50px;
	width: 209px;
	margin-left: 328px;
	padding-top: 8px;
}

.numCount {
	padding-left: 5px;
	padding-right: 5px;
}

.grayBar {
	width: 789px;
	height: 32px;
	background: url(/_media/images/paginateBG.png);
	margin-left: 2px;
}

.middleContentBox {
	width: 789px;
	height: 650px;
	margin-top: 30px;
}

.questionContainer {
	width: 332px;
	height: 250px;
	margin-left: 64px;
}

.premiumListingContainer {
	width: 350px;
	height: 250px;
	direction: rtl;
	margin-right: 34px;
}

.premiumListingHeader {
	font-size: 18px;
	color:#076C78;
	margin-right: 7px;
}



.grayBlock {
	width: 700px;
	height: 123px;
	background: #e3e4de;
	margin-left: 54px;
}

#adBlock {
	width: 789px;
	height: 123px;
	margin-bottom: 15px;
}

.paymentServices {
	direction:rtl;
	width: 789px;
	height: 200px;
}

.paymentHeader {
	font-size: 18px;
	color:#093565;
	margin-right: 35px;
}

.paymentBoxHolder {
	width: 750px;
	height: 300px;
	margin-right: 23px;

}

.paymentBox {
	width: 340px;
	height: 116px;
	border: 1px solid #e3e4de;
	margin: 10px;
}

.paymentBoxImage {
	width: 99px;
	height: 102px;
	border: 1px solid #e3e4de;
	margin-top: 7px;
	margin-right: 7px;
}

.paymentBoxText {
	direction:rtl;
	width: 231px;
	height: 116px;
}

.boxTextHeader {
	width: 231px;
	height: 20px;
	margin-right: 9px;
	margin-top: 6px;

}

.companyName {
	color: #0F67B1;
	font-weight: bold;
	font-size: 14px;
}
.adDesc {
	color: #777;
	width: 231px;
	height: 31px;
	margin-right: 9px;
	margin-top: 7px;
}

.adViewCount {
	margin-right: 10px;
	color: #A7A7A7;
	font-size: 9px;
}

.mapIcon {

}


/* CSS From Egyptian */
