/*
 *  Basic layout for http://landwercafe.co.il, December 2012, InManage LTD.
 */
 
/* General Styles */
* { margin:0;  padding:0; }
body{ background-color:#f2f4f7; font-family:Arial, sans-serif; }

a{ text-decoration:none; }
a img, fieldset{ border:0 none; }

img{ vertical-align:middle; }

textarea{ resize:none; }
input, label{ vertical-align:middle; }
input:focus{ outline:none; }
input, textarea, select{ font-family:Arial, sans-serif;  font-size:12px; }
/*hr{display: block;position: relative;padding: 0;margin: 8px auto;height: 0;width: 100%;max-height: 0;font-size: 1px;line-height: 0;clear: both;border: none;border-top: 1px solid #aaaaaa;border-bottom: 1px solid #ffffff;}*/
hr{display: block; padding: 0; margin: 8px auto;height: 2px;width: 100%;max-height: 2px;font-size: 2px;line-height: 0;clear: both;border: none;background:url(/_media/images/general/hdiv2px.png) repeat-x 0 0;}

.floatRight{ float:right; }
.floatLeft{ float:left; }
.clearAll{ clear:both; height:0px; }

.clearfix:after { content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0; }
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

.bold{ font-weight:bold; }
.blockMe{ display:block; }
.hide{display:none;}
.hidden{display:none !important;}
.hideMe{visibility:hidden;}

.btns{ background-image:url(/_media/images/general/ButtonsSprite.png); background-repeat:no-repeat; border:0 none; color:#fff; cursor:pointer; text-align:center; }
.smallBtn{width: 103px;height: 43px;background-position: -121px -113px;font-size: 14px;line-height: 40px;}
.smallBtn:hover{background-position: -346px -113px;}
.mediumBtn{background-position: -90px -69px;font-size: 14px;height: 39px;line-height: 39px;width: 133px;}
.mediumBtn:hover{background-position:-315px -69px;}
 

/* Add this class to prevent highlighting areas whene clicking on divs est. */
.unselectable { -moz-user-select:-moz-none; -khtml-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; }

/* Normalize fixes */
menu, ol, ul{ padding:0; }
dl, menu, ol, ul{ margin:0; }
a:focus{ outline:0; }
h4, p{ margin:0; }


/* Color schema */
.colorSchema_1{ color:#5b0a39; }
.colorSchema_2{ color:#9a2f01; }
.colorSchema_3{ color:#0193ad; }
.colorSchema_4{ color:#779e00; }
.colorSchema_5{ color:#c81302; }
.colorSchema_6{ color:#415657; }
.colorSchema_7{ color:#f89828; }
.colorSchema_8{ color:#005596; }

a.colorSchema_1{ color:#5b0a39 !important; }
a.colorSchema_2{ color:#9a2f01 !important; }
a.colorSchema_3{ color:#0193ad !important; }
a.colorSchema_4{ color:#779e00 !important; }
a.colorSchema_5{ color:#c81302 !important; }
a.colorSchema_6{ color:#415657 !important; }
a.colorSchema_7{ color:#f89828 !important; }
a.colorSchema_8{ color:#005596 !important; }

.content.schema_1{background:url(/_media/images/general/bg_icons1.png) no-repeat left bottom;}
.content.schema_2{background:url(/_media/images/general/bg_icons2.png) no-repeat -90px bottom;}
.content.schema_3{background:url(/_media/images/general/bg_icons3.png) no-repeat -159px bottom;}
.content.schema_4{background:url(/_media/images/general/bg_icons4.png) no-repeat -5px bottom;}
.content.schema_5{background:url(/_media/images/general/bg_icons5.png) no-repeat 0px bottom;}
.content.schema_6{background:url(/_media/images/general/bg_icons6.png) no-repeat -50px bottom;}
.content.schema_7{background:url(/_media/images/general/bg_icons7.png) no-repeat -17px bottom;}
.content.schema_8{background:url(/_media/images/general/bg_icons8.png) no-repeat left bottom;}

/* Header */
#headerWrapper{ background-color:#fff; margin-bottom:11px; position:relative; height:130px; width:100%; }
#headerShade{ background:url(/_media/images/general/header/headerShade.png) 0 0 repeat-x; display:block; height:11px; position:absolute; bottom:-11px; left:0; width:100%; }
#headerInner, #footerInner{ margin:0px auto; width:960px; }

/* Clients request to remove border-bottom ( Sent: Thursday, February 14, 2013 11:30 AM ) 
#headerTop{ border-bottom:1px solid #e0e2e6; height:40px; margin:0 aut; padding-top:30px; position:relative; width:960px; }
*/

#headerTop{ border-bottom:none; height:40px; margin:0 auto; padding-top:30px; position:relative; width:960px; }

a#logoWrapper{ display:block; width:194px; height:66px; position:absolute; left:0; top:23px; }

ul#languageFlags{ float:right; height:26px; list-style-type:none; width:350px; }
ul#languageFlags li{ border-right:1px solid #d9d8d5; float:left; height:26px; padding:0 8px; }
ul#languageFlags li.noBorder{ border:0 none; }
ul#languageFlags li a{ background-image:url(/_media/images/general/header/languageFlags.png); background-repeat:no-repeat; color:#61123f; display:block; font-size:12px; height:26px; line-height:26px; text-decoration:underline; text-transform:capitalize; padding-left:21px; }
ul#languageFlags li a.lang_english{ background-position:0 8px; }
ul#languageFlags li a.lang_spanish{ background-position:0 -23px; }
ul#languageFlags li a.lang_russian{ background-position:0 -54px; }
ul#languageFlags li a.lang_portuguese{ background-position:0 -85px; }

#loginRow{ height:40px; margin-top:7px; }
#loginRow ul{ float:right; height:26px; list-style-type:none; margin-top:5px; width:170px; }
#loginRow ul li{ float:right; height:26px; padding:0 8px; }
#loginRow ul li.login{ border-right:1px solid #d9d8d5; }
#loginRow ul li a{ background-image:url(/_media/images/general/header/loginIcons.png); background-repeat:no-repeat; color:#61123f; display:block; font-size:12px; height:26px; line-height:26px; text-decoration:underline; text-transform:capitalize; }
#loginRow ul li.login a{ background-position:0 -23px; padding-left:19px; }
#loginRow ul li.signup a{ background-position:0 2px; padding-left:30px; }

#loginRow .generalgetStartedBtn{ background-position:-90px -69px; float:right; font-size:14px; height:39px; line-height:39px; margin-right:10px; width:133px; }
#loginRow .generalgetStartedBtn:hover{ background-position:-315px -69px; }

/* End Header */


/* Footer  */

#footerWrapper{ background:url(/_media/images/general/footer/footerBg.png) 0 0 repeat-x; height:81px; width:100%; }
#footerTopLayer{ height:50px; }
#footerTopLayer ul{ list-style-type:none; }
#footerTopLayer ul li{ float:left; }

#footerSocialIcons{ float:left; height:35px; padding:7px 0; }
#footerSocialIcons li{ height:35px; width:35px; margin-right:7px; }
#footerSocialIcons li a{ background-image:url(/_media/images/general/footer/footerIcons.png); cursor:pointer; display:block; height:35px; width:35px; }

#footerSocialIcons li a.fb{ background-position:0 0; }
#footerSocialIcons li a.fb:hover{ background-position:0 -40px; }
#footerSocialIcons li a.youT{ background-position:-46px 0; }
#footerSocialIcons li a.youT:hover{ background-position:-46px -40px; }
#footerSocialIcons li a.rss{ background-position:-90px 0; }
#footerSocialIcons li a.rss:hover{ background-position:-90px -40px; }
#footerSocialIcons li a.email{ background-position:-134px 0; }
#footerSocialIcons li a.email:hover{ background-position:-134px -40px; }
#footerSocialIcons li a.info{ background-position:-176px 0; }
#footerSocialIcons li a.info:hover{ background-position:-176px -40px; }

.pipeList{ height:50px; }
.pipeList li, .pipeList li a{ color:#3f3b34; font-size:11px; height:50px; line-height:50px; }
.pipeList li a:hover{ text-decoration:underline; }
.pipeList li.piped{ padding:0 5px; }

#centerLinks{ margin:0 auto; width:255px; }
#rightLinks{ float:right; }

#footerBottomLayer{ height:31px; }
#footerBottomLayer a{ color:#3f3b34; display:block; font-size:11px; height:31px; line-height:31px; margin:0 auto; text-align:center; text-decoration:none; }

/* End Footer */

 
/* Bread crumbs */
/* End Bread crumbs */  


/* Sidebar */
/* End Sidebar */

 #contentWrapper{ margin:0 auto 20px; width:960px; }


#sitePagesWrapper{ margin:20px auto; width:943px; }
#sitePagesWrapper > .top{ background-image:url(/_media/images/general/sitePagesBg.png); background-repeat:no-repeat; height:13px; width:943px; }
#sitePagesWrapper > .top.colorSchema_1{ background-position:0 0; }
#sitePagesWrapper > .top.colorSchema_2{ background-position:0 -27px; }
#sitePagesWrapper > .top.colorSchema_3{ background-position:0 -54px; }
#sitePagesWrapper >.top.colorSchema_4{ background-position:0 -81px; }
#sitePagesWrapper > .top.colorSchema_5{ background-position:0 -108px; }
#sitePagesWrapper > .top.colorSchema_6{ background-position:0 -135px; }
#sitePagesWrapper > .top.colorSchema_7{ background-position:0 -162px; }
#sitePagesWrapper > .top.colorSchema_8{ background-position:0 -189px; }

#sitePagesWrapper > .content{ background-color:#fff; border-right:1px solid #bebfc3; border-left:1px solid #bebfc3; padding:0 13px; width:915px; }

#sitePagesWrapper > .bottom{ background:url(/_media/images/general/sitePagesBg.png) 0 -216px no-repeat; height:38px; width:943px; }

h1.pageTitle{ font-size:28px; font-weight:normal; padding:30px 0 10px 220px; }


#pageNavigation{ float:left; margin-top:25px; list-style-type:none; width:200px; }
#pageNavigation li{ height:30px; margin-bottom:5px; width:200px; }
#pageNavigation li:hover,#pageNavigation li.active{ background-color:#edeef0; }

#pageNavigation li.active.colorSchema_1 a{ font-weight:bold !important;color:#5b0a39; }
#pageNavigation li.active.colorSchema_2 a{ font-weight:bold !important;color:#9a2f01; }
#pageNavigation li.active.colorSchema_3 a{ font-weight:bold !important;color:#0193ad; }
#pageNavigation li.active.colorSchema_4 a{ font-weight:bold !important;color:#779e00; }
#pageNavigation li.active.colorSchema_5 a{ font-weight:bold !important;color:#c81302; }
#pageNavigation li.active.colorSchema_6 a{ font-weight:bold !important;color:#415657; }
#pageNavigation li.active.colorSchema_7 a{ font-weight:bold !important;color:#f89828; }
#pageNavigation li.active.colorSchema_8 a{ font-weight:bold !important;color:#005596; }

#pageNavigation li a{ background-image:url(/_media/images/general/sideNavTips.png); background-repeat:no-repeat; color:#00000c; display:block; font-size:13px; height:30px; line-height:30px; padding-left:18px; text-transform:capitalize; width:182px; }
#pageNavigation li.colorSchema_1 a{ background-position:0 0; }
#pageNavigation li.colorSchema_2 a{ background-position:0 -32px; }
#pageNavigation li.colorSchema_3 a{ background-position:0 -64px; }
#pageNavigation li.colorSchema_4 a{ background-position:0 -96px; }
#pageNavigation li.colorSchema_5 a{ background-position:0 -128px; }
#pageNavigation li.colorSchema_6 a{ background-position:0 -160px; }
#pageNavigation li.colorSchema_7 a{ background-position:0 -192px; }
#pageNavigation li.colorSchema_8 a{ background-position:0 -224px; }


#pageInnerWrapper{ float:left; width:683px; }
#pageInnerWrapper > .top, 
#pageInnerWrapper > .bottom{ background-image:url(/_media/images/general/innerWrapperBg.png); background-repeat:no-repeat; height:10px; width:683px; }
#pageInnerWrapper > .top{ background-position:0 0; }
#pageInnerWrapper > .bottom{ background-position:0 -10px; }
#pageInnerWrapper > .content{ background:#edeef0; padding:0 15px; width:653px; }

#pageInnerWrapper .iconWrapper{ float:left; height:80px; margin-right:15px; width:80px; }

.sitePagesMainContent{ float:left; width:536px; }

#pageInnerWrapper .topImage{ height:182px; margin-top:5px; padding-bottom:28px; width:536px; position:relative; }
#pageInnerWrapper .topImage .frame{ background:url(/_media/images/site/frame_2.png) 0 0px no-repeat; height:210px; width:536px; position:absolute; top:0; left:0; }

.thumbImage{ height:98px; width:163px; position:relative; display:inline-block;float:left;margin-top:10px;padding-bottom:10px;}
.thumbImage .frame{ background:url(/_media/images/site/frame_3.png) 0 0px no-repeat; height:109px; width:163px; position:absolute; top:0; left:0; }
.thumbRow .thumbImage{margin-right:19px;}
.thumbRow .thumbImage.last{margin-right:0px;}
.thumbImage.inText{margin: 15px 20px 0 0;float: left;}

.sitePagesMainContent p{ color:#3f3b34; font-size:12px; line-height:15px; margin:10px 0 0 0;}
.sitePagesMainContent h3{ color:#3f3b34; font-size:14px; font-weight:bold; margin-top:20px; }
.sitePagesMainContent h4{ color:#3f3b34; font-size:14px; font-weight:bold; margin-top:13px; }

.offersList{ list-style-type:none; width:536px; }
.offersList li{ float:left; height:20px; padding-right:12px; width:256px; }
.offersList li a{ color:#5c0b3a; font-size:12px; text-decoration:underline; }


/* Forms */
label{ color:#3f3b34; font-size:12px; display:block; margin-top:10px; }

.siteFormsLabel > span{ color:#3f3b34; display:inline-block; height:32px; line-height:32px; font-size:12px; width:108px; vertical-align:middle; }
.siteFormsLabel > span > .ast{ color:#df0101; }

.formLabel.forDate{ text-align:center; width:95px; }
.formLabel.centerFor96{ padding:0 6px; text-align:right; width:79px; }
.formLabel.forTextAr{ vertical-align:top; }

.formFields{ background-image:url(/_media/images/general/formFields.png); background-repeat:no-repeat; background-color:transparent; border:0 none; height:28px; line-height:28px; padding:4px; }

.formFields.W_287{ background-position:-1px 0; width:279px; }
.formFields.W_287.err{ background-position:-1px -37px; }

.formFields.W_183{ background-position:-104px -283px; width:175px; }
.formFields.W_183.err{ background-position:-104px -320px; }

.formFields.W_137{ background-position:-150px -358px; width:130px; }
.formFields.W_137.err{ background-position:-1px -358px; }

.formFields.W_96{ background-position:-191px -432px; width:88px; }
.formFields.W_96.err{ background-position:-1px -432px; }

.formFields.W_43{ background-position:-1px -283px; width:35px; }
.formFields.W_43.err{ background-position:-1px -320px; }

.formFields.textAr_287{ background-position:-1px -148px; height:58px; line-height:15px; width:279px; vertical-align:top; }
.formFields.textAr_287.err{ background-position:-1px -215px; }

.formFields.date_93{ background-position:-194px -469px; padding-right:32px; width:57px;font-size:11px; }
.formFields.date_93.err{ background-position:-1px -469px; }

/* Combo select styles */
.formFields.combo_287{ background-position:-1px -74px; width:279px; }
.formFields.combo_287.err{ background-position:-1px -111px; }

.formFields.combo_137{ background-position:-150px -395px; width:129px; }
.formFields.combo_137.err{ background-position:-1px -395px; }

.comboSelect{ position:relative; vertical-align:middle; }
.comboSelect ul{max-height: 171px;overflow-y: auto;z-index:10;}
.siteFormsLabel .comboSelect{ display:inline-block; }
.comboSelect span{ cursor:pointer; color:#3f3b34; display:block; font-size:12px; height:28px; line-height:28px; overflow:hidden; padding-right:26px; }
.comboSelect ul{ background:#fff; border-right:1px solid #dbdbdb; border-left:1px solid #dbdbdb; display:none; list-style-type:none; position:absolute; top:32px; left:4px; }
.combo_137 ul{ width:129px; }
.combo_287 ul{ width:279px; }
.comboSelect ul li{ border-bottom:1px solid #dbdbdb; color:#3f3b34; font-size:12px; height:18px; line-height:18px; padding:0 5px; }
.comboSelect ul li:hover{ background-color:#dbdbdb; }
/* Combo select styles */

/* tabs */
ul.tabs{list-style: none;padding:0;margin:0;}
ul.tabs>li{padding:0;margin:0;cursor:pointer;display:inline-block;float:left;height:32px;line-height: 33px;border-right:1px solid #fff;border-left:1px solid #aaa;}
ul.tabs>li>span{height:32px;display:inline-block;background:url(/_media/images/general/tab-bg.png) repeat-x 0 -3px;padding:0 10px 0 10px;margin:0;font-size:12px;color:#555;font-weight:bold;}
ul.tabs>li.first{border-left:0;}
ul.tabs>li.last{border-right:0;}
ul.tabs>li.first>span.corner{background:url(/_media/images/general/tab-sprite.png) no-repeat -2px -3px;width:7px;padding:0px;}
ul.tabs>li.last>span.corner{background:url(/_media/images/general/tab-sprite.png) no-repeat -37px -3px;width:7px;padding:0px;}
ul.tabs>li.active>span{background:url(/_media/images/general/tab-bg-hover.png) repeat-x 0 -3px;}
ul.tabs>li.first.active>span.corner{background-position:-2px -39px;}
ul.tabs>li.last.active>span.corner{background-position:-37px -39px;}
ul.tabs li > div{display:none;}
.tabContent{margin:0;padding:0;margin-bottom:16px;background:url(/_media/images/general/hdiv2px.png) repeat-x 0 0;padding-top:2px;}
ul.tabs.schema_1>li.active>span{color:#5b0a39;}
ul.tabs.schema_2>li.active>span{color:#9a2f01;}
ul.tabs.schema_3>li.active>span{color:#0193ad;}
ul.tabs.schema_4>li.active>span{color:#779e00;}
ul.tabs.schema_5>li.active>span{color:#c81302;}
ul.tabs.schema_6>li.active>span{color:#415657;}
ul.tabs.schema_7>li.active>span{color:#f89828;}
ul.tabs.schema_8>li.active>span{color:#005596;}
/* /tabs */

/* Message Layer */
#screener{ display:none;background:url(/_media/images/general/screener.png) 0 0; position:fixed; top:0; left:0; height:100%; width:100%; z-index: 20;}
.layers{position:absolute; top:50%; left:50%; z-index:1000; }
.layers .corner{ background-image:url(/_media/images/general/layersBg.png); background-repeat:no-repeat; height:30px; width:30px; }
.corner.t-l{ background-position:0 0; }
.corner.t-r{ background-position:-30px 0; }
.corner.b-l{ background-position:0 -30px; }
.corner.b-r{ background-position:-30px -30px; }
.layers td.t-c, 
.layers td.b-c{ background-image:url(/_media/images/general/layers_ver_edges.png); background-repeat:repeat-x; height:30px; }
.layers td.t-c{ background-position:0 0; }
.layers td.b-c{ background-position:0 -30px; }
.layers td.l-c,
.layers td.r-c{ background-image:url(/_media/images/general/layers_hor_edges.png); background-repeat:repeat-y; width:30px; }
.layers td.l-c{ background-position:0 0; }
.layers td.r-c{ background-position:-30px 0; }
.layers .content{ background-color:#dee0e2; }
.layers .content > div{ padding:15px; position:relative; }
.closeLayer{ background:url(/_media/images/general/closeLayer.png) 0 0 no-repeat; cursor:pointer; height:23px; width:23px; position:absolute; top:-8px; right:-8px; }
/* /Message Layer */

.uploadify{z-index:1;}
#languageFlags{display:none;}
