/.idea/*
/.idea/
/_static/
/_static/*
/_media/media/
/_media/media/*
/_media/images/
/_media/images/*
/salat2/htmleditor/*
/salat2/_static/
/error_log
/_inc/error_log
/dev/
/dev/*
/salat2/error_log
/_ajax/error_log
/test/*
/test2222/*
/test2/**
/aaa/
*.csv
/tmp
composer.lock
vendor/
dev.DS_Store
