@charset "utf-8";

/**
 *
 *   /$$$$$$                                 /$$$$$$  /$$ /$$       /$$
 *  /$$__  $$                               /$$__  $$|__/| $$      | $$
 * | $$  \__/  /$$$$$$   /$$$$$$   /$$$$$$ | $$  \__/ /$$| $$  /$$$$$$$
 * | $$ /$$$$ |____  $$ /$$__  $$ /$$__  $$| $$$$    | $$| $$ /$$__  $$
 * | $$|_  $$  /$$$$$$$| $$  \__/| $$$$$$$$| $$_/    | $$| $$| $$  | $$
 * | $$  \ $$ /$$__  $$| $$      | $$_____/| $$      | $$| $$| $$  | $$
 * |  $$$$$$/|  $$$$$$$| $$      |  $$$$$$$| $$      | $$| $$|  $$$$$$$
 *  \______/  \_______/|__/       \_______/|__/      |__/|__/ \_______/
 *
 * @Author Mike
 * @Copyright 2010-2017
 *
 * ********************************************************************************
 * **              -= YOU MAY NOT REMOVE OR CHANGE THIS NOTICE =-                 *
 * ** --------------------------------------------------------------------------- *
 * **  CSS
 * **  Create:
 * **  Developed by:  Mike <Mike@inmanage.net>                                    *
 * ********************************************************************************
 */

/**
 * assign file;
 */

/**-------------------------------------
    Import
--------------------------------------**/

@font-face {
    font-family: "ProximaNova Regular";
    src: url("fonts/proximanova-reg-webfont.eot");
    src: url("fonts/proximanova-reg-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-reg-webfont.woff") format("woff"), url("fonts/proximanova-reg-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ProximaNova Bold";
    src: url("fonts/proximanova-bold-webfont.eot");
    src: url("fonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-bold-webfont.woff") format("woff"), url("fonts/proximanova-bold-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ProximaNova Light";
    src: url("fonts/proximanova-light-webfont.eot");
    src: url("fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-light-webfont.woff") format("woff"), url("fonts/proximanova-light-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova Condensed";
    src: url("fonts/proxima-nova-condensed-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/**-------------------------------------
    General
--------------------------------------**/

html, body, .app {
    height: 100%;
}

body {
    margin: 0;
    min-width: 1024px;
    min-height: 768px;

    font-family: "ProximaNova Regular", Arial, sans-serif;
}

body.mobile-wallpaper {
    min-width: inherit;
    min-height: inherit;
}

p {
    margin: 0;
    padding: 0;
}

a, u {
    text-decoration: none;
}

.group-form input,
.group-form .select {
    display: inline-block;
}

.bold {
    font-weight: bold;
}

/**
    colors
    get color name from website
    url: http://chir.ag/projects/name-that-color/#292929
 */

.black {
    color: #000000;
}

.mine-shaft {
    color: #292929;
}

.muddy-waters {
    color: #b7915a;
}

.medium-carmine {
    color: #AA5235;
}

/**
    input
 */

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label > span {
    width: 15px;
    float: left;
    height: 15px;
    border: 1px solid #000000;
    margin: 2px 14px 2px 2px;
    display: inline-block;
    background: transparent;
}

input[type="checkbox"]:checked + label > span:before {
    width: 15px;
    color: #000000;
    content: '✓';
    display: block;
    font-size: 10px;
    text-align: center;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

*:focus {
    outline: none;
}

/**
    select
 */

.select {
    width: 80px;
    position: relative;
}

.select .selector {
    width: 100%;
    color: #000;
    border: none;
    cursor: pointer;
    padding: 3px 0 3px 7px;
    font-size: 14pt;
    text-align: left;
    border-bottom: 1px solid #c6c6c6;

    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: center;
}

.select ul {
    width: auto;
    right: 0;
    margin: 0;
    z-index: 2;
    padding: 0;
    display: none;
    position: absolute;
    min-width: 100%;
    box-shadow: 0 1px 30px #e1e1e1;
    background: #ffffff;
    border-top: 2px solid #e5e5e5;
    margin-top: 13px;
    list-style-type: none;
}

.select ul:before {
    top: -9px;
    right: 10px;
    display: block;
    content: '';
    position: absolute;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 9px solid #e5e5e5;
}

.select ul > li {
    width: 100%;
    cursor: pointer;
    font-size: 14pt;
    text-align: center;
    background: #ffffff;
    box-sizing: border-box;
    margin-top: 21px;
    line-height: 25px;
}

.select ul > li:last-child {
    margin-bottom: 18px;
}

.select ul > li:hover {
    background: rgba(0, 0, 0, 0.2);
}

/**-------------------------------------
    app
--------------------------------------**/

.app .main {
    -moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.app .main.push {
    -webkit-transform: translate3d(-380px, 0, 0);
    -moz-transform: translate3d(-380px, 0, 0);
    -o-transform: translate3d(-380px, 0, 0);
    transform: translate3d(-380px, 0, 0);
}

/**-------------------------------------
    Nav
--------------------------------------**/

.nav {
    top: 0;
    width: 100%;
    padding: 25px 25px 20px 32px;
    z-index: 5;
    position: fixed;
    box-sizing: border-box;
    background: #ffffff;
    border-bottom: 1px solid #d7d7d7;
}

.nav .logo {
    width: 151px;
    height: auto;
    position: relative;
    display: inline-block;
}

.nav .logo img {
    width: 100%;
    height: 100%;
}

.nav .avatar {
    float: right;
    position: relative;
}

.nav .avatar .avatar-icon {
    top: -3px;
    left: -40px;
    position: absolute;
}

.nav .avatar span {
    font-size: 12pt;
}

/**
    user-panel
 */

.nav .user-panel {
    right: 0;
    color: #636363;
    width: 270px;
    display: none;
    padding: 20px;
    position: absolute;
    font-size: 13pt;
    background: #ffffff;
    margin-top: 11px;
    border-top: 3px solid #a9a9a9;
    box-shadow: 0 0 30px #f3f3f3;
    font-family: "ProximaNova Regular", serif;
}

.nav .user-panel:before {
    top: -9px;
    right: 10px;
    display: block;
    content: '';
    position: absolute;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 9px solid #a9a9a9;
}

.nav .user-panel .credits {
    margin-bottom: 18px;
}

.nav .user-panel span {
    color: #292929;
    margin-left: 10px;
}

.nav .user-panel a {
    color: #636363;
}

/**-------------------------------------
    Main
--------------------------------------**/

.main {
    width: 100%;
    height: 100%;
    position: relative;
}

/**
    login bg
 */

.main.login {
    background: url('images/login_bg_image.png') no-repeat center;
    background-size: cover;
}

/**
    main calender
 */

.main.calender {
    margin-top: 68px;
}

/**-------------------------------------
    Progress
--------------------------------------**/

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

.progress {
    position: relative;
    display: inline-block;
    width: 5em;
    height: 5em;
    margin: 0 .5em;
    font-size: 3px;
    text-indent: 999em;
    overflow: hidden;
    animation: spin 0.8s infinite steps(8);
    top: 2px;
    right: 3px;
}

.progress:before,
.progress:after,
.progress > div:before,
.progress > div:after {
    content: '';
    position: absolute;
    top: 0;
    left: 2.25em; /* (container width - part width)/2  */
    width: .5em;
    height: 1.5em;
    border-radius: .2em;
    background: #eee;
    box-shadow: 0 3.5em #eee; /* container height - part height */
    transform-origin: 50% 2.5em; /* container height / 2 */
}

.progress:before {
    background: #555;
}

.progress:after {
    transform: rotate(-45deg);
    background: #777;
}

.progress > div:before {
    transform: rotate(-90deg);
    background: #999;
}

.progress > div:after {
    transform: rotate(-135deg);
    background: #bbb;
}

/**-------------------------------------
    Login
--------------------------------------**/

.main .login-sidebar {
    width: 35%;
    height: 100vh;
    position: relative;
    max-width: 501px;
    min-width: 397px;
    min-height: 768px;
    background: rgba(255, 255, 255, 0.9);
}

.main .login-sidebar .container {
    width: 75%;
    margin: 0 auto;
    min-width: 325px;
    padding-top: 80px;
}

.main .login-sidebar h1 {
    font-size: 30pt;
    font-weight: bold;
    font-family: "Proxima Nova Condensed", serif;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.main .login-sidebar p.summary {
    margin-bottom: 35px;
}

.main .login-sidebar div.summary {
    font-size: 14pt;
    margin-bottom: 35px;
}

.main .login-sidebar div.summary p {
    padding-top: 5px;
}

.main .login-sidebar div.summary p span {
    margin-right: 10px;
}

/**
    login form
 */

.main .login-sidebar .form {
    width: 312px;
    margin-bottom: 24px;
}

.main .login-sidebar .form .group-form {
    margin-bottom: 24px;
}

.side-menus input,
.quick-booking input,
.main .login-sidebar .form input {
    width: 80px;
    color: #000;
    border: none;
    padding: 3px 0 3px 7px;
    font-size: 14pt;
    border-bottom: 1px solid #c6c6c6;
    background-color: transparent;
}

.side-menus input:focus,
.quick-booking input:focus,
.main .login-sidebar .form input:focus {
    outline: none;
}

.main .login-sidebar .form input {
    width: 203px;
    padding: 3px 0;
    margin-left: 16px;
}

/**
    login code
 */

.main .login-sidebar .code {
    margin-bottom: 37px;
}

.main .login-sidebar .code H2 {
    font-size: 18pt;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.main .login-sidebar .code input {
    color: #000;
    width: 35px;
    height: 40px;
    border: 1px solid #a9a9a9;
    font-size: 21pt;
    text-align: center;
    margin-right: 20px;
    border-radius: 5px;
    background-color: transparent;
}

.main .login-sidebar .code p {
    font-size: 12pt;
    margin-top: 15px;
    font-weight: bold;
    font-family: "ProximaNova Regular", serif;
}

/**
    hide input number arrow
 */

.main .login-sidebar input[type='number'] {
    -moz-appearance: textfield;
}

.main .login-sidebar input::-webkit-outer-spin-button,
.main .login-sidebar input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.main .login-sidebar input:focus {
    outline: none;
}

.main .login-sidebar .error-notification {
    margin-bottom: 24px;
}

.main .login-sidebar button.send,
.login-mobile-wallpaper .bottom button {
    width: 100%;
    color: #ffffff;
    height: 45px;
    cursor: pointer;
    border: none;
    font-size: 14px;
    background: #000000;
    font-weight: bold;
    text-transform: uppercase;
}

.main .login-sidebar button:focus {
    outline: none;
}

.main .login-sidebar .issues {
    margin-bottom: 12px;
}

/**
    bottom policy
 */

.main .login-sidebar .bottom {
    bottom: 0;
    position: absolute;
    margin-bottom: 28px;
}

.main .login-sidebar .bottom .group-form {
    font-size: 14pt;
    margin-bottom: 25px;
}

.main .login-sidebar .bottom .group-form input {
    width: 15px;
    height: 15px;
}

.main .login-sidebar .policy {
    font-size: 12pt;
}

/**
    login mobile wallpaper
 */

.login-mobile-wallpaper {
    width: 100%;
    height: 100%;
    position: relative;

    background: url("images/mobile-wallpaper.png") no-repeat top center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover; /* Mozilla*/
    -o-background-size: cover; /* Opera*/
    background-size: cover; /* Generic*/
}

.login-mobile-wallpaper .bottom {
    width: 100%;
    bottom: 0;
    position: absolute;
    text-align: center;
}

.login-mobile-wallpaper .bottom button {
    width: 90%;
    height: inherit;
    margin: 0 auto;
    padding: 15px 0;
    font-size: 18pt;
}

.login-mobile-wallpaper .bottom div {
    margin: 20px 0;
    font-size: 12pt;
}

/**-------------------------------------
    Calender - controls
--------------------------------------**/

.calender .controls {
    width: 100%;
    clear: both;
    display: inline-block;
    padding: 0 5.7% 0 10%;
    margin-top: 29px;
    box-sizing: border-box;
    margin-bottom: 34px;
}

.calender .controls > div {
    display: inline-block;
}

/**
    position-left
 */

.calender .controls .today {
    text-transform: uppercase;
}

.calender .controls .position-left button,
.side-menus .meeting .date button.date-select {
    cursor: pointer;
    border: 2px solid #f6f6f6;
    padding: 13px 24px;
    font-size: 12pt;
    background: #ffffff;
    margin-right: 12px;
}

.calender .controls button:focus {
    outline: 0;
}

.calender .controls .radius-left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.calender .controls .radius-right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.calender .controls .radius-bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.calender .controls button.date-select,
.side-menus .meeting .date button.date-select {
    border: none;
    font-size: 16pt;
    font-family: "ProximaNova Regular", serif;
    padding-left: 10px;
    padding-right: 30px;

    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: center;
}

/**
    position-right
 */

.calender .controls .position-right {
    float: right;
}

.calender .controls .position-right .select {
    width: 140px;
}

.calender .controls .position-right button {
    border: 2px solid #f6f6f6;
    padding: 13px 22px 13px 12px;
    font-size: 12pt;
    text-transform: uppercase;
}

.calender .controls .position-right > div {
    display: inline-block;
}

.calender .controls .position-right .location {
    margin-right: 12px;
}

/**-------------------------------------
    Calender - main
--------------------------------------**/

.main.calender .container-body {
    width: 100%;
    padding: 0;
}

.main.calender .container-body > div {
    float: left;
    box-sizing: border-box;
}

/**
    left-slider
 */

.main.calender .left-sidebar {
    width: 10%;
    height: 800px;

    /*background: blueviolet;*/
}

.main.calender .left-sidebar .arrow-left,
.main.calender .right-sidebar .arrow-right {
    width: 34px;
    float: right;
    height: 111px;
    border: 1px solid #f6f6f6;
    cursor: pointer;
    position: relative;

    margin-top: 68px;
    margin-right: 30px;
}

.main.calender .left-sidebar .arrow-left:hover,
.main.calender .right-sidebar .arrow-right:hover {
    background: #f8f8f8;
}

.main.calender .left-sidebar .arrow-left:active,
.main.calender .right-sidebar .arrow-right:active {
    border: 1px solid #d3d3d3;
}

.main.calender .left-sidebar .arrow-left:after,
.main.calender .right-sidebar .arrow-right:after {
    top: 50%;
    left: 50%;
    width: 7px;
    height: 25px;
    content: "";
    position: absolute;
    background: url("images/arrow.png") no-repeat center center;
    margin-top: -12.5px;
    margin-left: -3.5px;

    /*transform    : rotate(0deg);*/
}

.main.calender .left-sidebar .times {
    margin-top: 277px;
    text-align: right;
    padding-right: 28px;
}

.main.calender .left-sidebar .times div {
    color: #292929;
    height: 50px;
    font-size: 12pt;
    font-weight: 300;
    font-family: "ProximaNova Regular", serif;
}

/**
    right-slider
 */

.main.calender .right-sidebar {
    width: 5.7%;
    height: 800px;

    /*background: blue;*/
}

.main.calender .right-sidebar .arrow-right {
    float: left;
    margin-left: 30px;
    margin-right: 0;
}

.main.calender .right-sidebar .arrow-right:after {
    transform: rotate(180deg);
}

/**
    main
 */

.main-calender {
    width: 84.3%;
    z-index: 3;
    overflow-x: hidden;
    box-shadow: 0 0 30px #f3f3f3;
    margin-bottom: 100px;

    border-left: 2px solid #f3f3f3;
    border-right: 2px solid #f3f3f3;
}

.main-calender .wrapper {
    width: 100000%;
}

/**
    rooms
 */

.main-calender .room-row {
    float: left;
    width: 20.89vw;
    min-width: 215px;
    background: #f3f3f3;
    border-right: 1px solid #e1e1e1;
}

/**
    room header
 */

.main-calender .room-row .header {
    width: 100%;
    padding: 24px 6.6% 0 6.6%;
    /*padding     : 24px 6.6% 0 11%;*/
    font-family: "ProximaNova Regular", serif;
}

.main-calender .room-row .header img {
    width: 100%;
    margin-top: 15px;
}

.main-calender .room-row .header p {
    height: 30px;
    font-size: 12pt;
    margin-top: 14px;
    font-weight: 300;
    margin-bottom: 10px;
}

/**
    left
 */

.main-calender .room-row .header .left {
    float: left;
}

.main-calender .header .left h2 {
    font-size: 14pt;
    margin-top: 0;
    font-weight: 600;
    text-transform: uppercase;
}

.main-calender .header .left span {
    color: #292929;
    font-size: 14pt;
    font-weight: 300;
}

/**
    right
 */

.main-calender .room-row .header .right {
    float: right;
    text-align: right;
}

.main-calender .header .right h1 {
    font-size: 21pt;
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 4px;
}

.main-calender .header .right span {
    color: #292929;
    font-size: 10pt;
    font-weight: 300;
}

/**-------------------------------------
    Calender - events
--------------------------------------**/

.main-calender .room-row .events {
    clear: both;
    height: 2400px;
    position: relative;
    background: url("images/row-bg.png") #ffffff;
}

.main-calender .room-row .events .event {
    width: 93%;
    padding: 11px 18px 15px 18px;
    position: absolute;
    background: url("images/pattern.jpg");
}

.main-calender .room-row .events .event.self {
    cursor: move;
    background: #fbe8c1;
}

.main-calender .room-row .events .event.focus {
    cursor: move;
    border: 1px solid #b7915a;
    background: #fbe8c1;
}

.main-calender .room-row .events .event.focus .resize {
    left: 50%;
    width: 11px;
    height: 1px;
    bottom: 8px;
    cursor: n-resize;
    content: "";
    position: absolute;
    background: #b7915a;
    box-shadow: 0 2px 0 0 #b7915a;
    margin-left: -5px;
}

.main-calender .room-row .events .event h2.time {
    margin: 0;
    font-size: 12pt;
    margin-bottom: 0.5%;
}

.main-calender .room-row .events .event p {
    position: absolute;
    bottom: 10px;
}

/**
    Quick booking
 */

.main-calender .room-row .events .quick-booking {
    left: -0.6vw;
    width: 22vw;
    height: auto;
    bottom: 130%;
    cursor: auto;
    z-index: 3;
    padding: 0 22px;
    position: absolute;
    box-shadow: 0 0 30px #f3f3f3;
    background: #ffffff;
    border-bottom: 2px solid #a9a9a9;
}

.main-calender .room-row .events .quick-booking:before {
    right: 50%;
    bottom: -9px;
    display: block;
    content: '';
    position: absolute;
    border-top: 9px solid #a9a9a9;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    margin-right: -12px;
}

.main-calender .room-row .quick-booking h1 {
    font-size: 30pt;
    font-weight: bold;
    font-family: "Proxima Nova Condensed", serif;
    text-transform: uppercase;
}

.main-calender .room-row .quick-booking h2 {
    font-size: 14pt;
    font-weight: bold;
    font-family: "ProximaNova Regular", serif;
    text-transform: uppercase;
}

.main-calender .room-row .quick-booking input {
    width: 82.3%;
    padding: 3px 0 3px 1px;
    font-size: 14pt;
}

.main-calender .room-row .quick-booking .title {
    margin-top: 34px;
}

.main-calender .room-row .quick-booking span {
    font-size: 14pt;
    font-family: "ProximaNova Regular", serif;
}

.main-calender .room-row .quick-booking .credits {
    margin-top: 24px;
    margin-bottom: 25px;
}

.main-calender .room-row .quick-booking .credits div,
.main-calender .room-row .quick-booking .credits span {
    color: #a9a9a9;
    font-size: 12pt;
}

.main-calender .room-row .quick-booking .credits span {
    color: black;
}

.main-calender .room-row .quick-booking .credits span.error {
    color: #aa5235;
}

.main-calender .room-row .quick-booking .notification {
    color: #a9a9a9;
    font-size: 12pt;
    margin-bottom: 25px;
}

.main-calender .room-row .quick-booking .no-credit {
    text-align: center;
}

.main-calender .room-row .quick-booking .no-credit button {
    width: 100%;
    color: #ffffff;
    height: 45px;
    cursor: pointer;
    border: none;
    font-size: 15px;
    background: #000000;
    font-weight: 600;
    text-transform: uppercase;
}

.main-calender .room-row .quick-booking .no-credit a {
    color: #b7915a;
    padding: 21px 0 21px 0;
    display: block;
    font-size: 14pt;
    font-weight: bold;
}

.main-calender .room-row .quick-booking .book {
    text-align: left;
    margin-bottom: 19px;
}

.main-calender .room-row .quick-booking .book button {
    width: 90px;
    color: #ffffff;
    height: 45px;
    cursor: pointer;
    border: none;
    display: inline-block;
    font-size: 15px;
    background: #000000;
    font-weight: 600;
    text-transform: uppercase;
}

.main-calender .room-row .quick-booking .book a {
    color: #b7915a;
    display: inline-block;
    font-size: 14pt;
    margin-left: 28px;
    font-weight: bold;
}

/**-------------------------------------
    Side Menu Push / Pull
--------------------------------------**/

.side-menus {
    top: 0;
    right: 0;
    width: 373px;
    height: 100%;
    /*margin     : 0 -373px 0 0;*/
    z-index: 3;
    position: fixed;
    box-shadow: 0 1px 30px rgba(225, 225, 225, 0.4);
    background: #f3f3f3;
    border-left: 1px solid #cacaca;
    padding-top: 68px;

    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

/**
    header
 */

.side-menus .header {
    width: 100%;
    padding: 24px 44px 0 44px;
    font-family: "ProximaNova Regular", serif;
}

.side-menus .header:after {
    clear: both;
    display: table;
    content: "";
}

/**
    left
 */

.side-menus .header .left {
    float: left;
}

.side-menus .left h2 {
    font-size: 14pt;
    margin-top: 0;
    font-weight: 600;
    text-transform: uppercase;
}

.side-menus .left span {
    color: #292929;
    font-size: 14pt;
    font-weight: 300;
}

/**
    right
 */

.side-menus .header .right {
    float: right;
    text-align: right;
}

.side-menus .header .right h1 {
    font-size: 21pt;
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 4px;
}

.side-menus .header .right span {
    color: #292929;
    font-size: 10pt;
    font-weight: 300;
}

/**
    meeting
 */

.side-menus .meeting {
    padding: 0 44px 10px 44px;
    margin-top: 24px;
    background: #f3f3f3;
    border-top: 1px solid #e4e4e4;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e4e4e4+0,f3f3f3+43,f3f3f3+43 */
    background: -moz-linear-gradient(top, #e4e4e4 0%, #f3f3f3 23%, #f3f3f3 23%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e4e4e4 0%, #f3f3f3 23%, #f3f3f3 23%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e4e4e4 0%, #f3f3f3 23%, #f3f3f3 23%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4', endColorstr='#f3f3f3', GradientType=0); /* IE6-9 */
}

.side-menus .meeting h2 {
    font-size: 30pt;
    margin-top: 30px;
    font-weight: 900;
    font-family: "Proxima Nova Condensed", serif;
    text-transform: uppercase;
}

.side-menus .meeting input {
    width: 100%;
    padding: 3px 0 3px 1px;
    font-size: 14pt;
}

/**
    admin
 */

.side-menus .meeting .admin .select {
    width: 100%;
}

/**
    date
 */

.side-menus .meeting .date button.date-select {
    width: 100%;
    font-size: 14pt;
    text-align: left;
    padding-top: 3px;
    padding-left: 0;
    border-bottom: 1px solid #c6c6c6;
    padding-bottom: 3px;
}

/**
    time
 */

.side-menus .meeting .time .select-time {
    width: 100%;
}

.side-menus .meeting .time .select-time div {
    display: inline-block;
    font-size: 14pt;
}

.side-menus .meeting .time .select-time div.end,
.side-menus .meeting .time .select-time div.start {
    width: 40%;
}

.side-menus .meeting .time .select-time div.to {
    width: 17%;
    text-align: center;
}

/**
    duration
 */

.side-menus .meeting .duration {
    color: #a9a9a9;
    font-size: 12pt;
    margin-top: 20px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

/**
    credits
 */

.side-menus .meeting .credits {
    color: #a9a9a9;
    font-size: 12pt;
}

.side-menus .meeting .credits span {
    color: #000;
}

.side-menus .meeting .credits span.error {
    color: #aa5235;
    font-size: 11pt;
    margin-top: 5px;
}

/**
    notification
 */

.side-menus .meeting .notification {
    color: #a9a9a9;
    font-size: 12pt;
    margin-top: 20px;
}

/**
    button
 */

.side-menus .action {
    bottom: 35px;
    position: absolute;
}

.side-menus .action button.add,
.side-menus .action button.update,
.side-menus .action button.confirm {
    width: 145px;
    font-size: 14pt;
    text-align: center;
    font-weight: bold;

    color: #ffffff;
    height: 45px;
    cursor: pointer;
    border: none;
    background: #000000;
    text-transform: uppercase;
}

/**
    update
 */

.side-menus .action {
    width: 300px;
}

.side-menus .action .update * {
    display: inline-block;
}

.side-menus .action a {
    color: #b7915a;
    font-size: 14pt;
    margin-left: 50px;
    text-decoration: none;
}

.side-menus .action a:before {
    top: 0;
    left: -12px;
    content: url('images/delete.png');
    position: relative;
}

/**
    add credits
 */

.side-menus .action button.add {
    width: 100%;
}

/**-------------------------------------
    Alerts
--------------------------------------**/

/**
    gray bg
 */

.gray-bg {
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
}

/**
    calendar event
 */

.calendar-event {
    top: 50%;
    left: 50%;
    width: 450px;
    height: 235px;
    z-index: 4;
    display: none;
    position: fixed;
    margin-top: -117.5px;
    margin-left: -225px;
    background: #ffffff;
}

/**
    close
 */

.use-our-app .close,
.calendar-event .close,
.main-calender .quick-booking .close {
    top: 17px;
    right: 17px;
    width: 13px;
    height: 13px;
    opacity: 1;
    display: inline-block;
    position: relative;

}

.use-our-app .close:after,
.use-our-app .close:before,
.calendar-event .close:after,
.calendar-event .close:before,
.main-calender .quick-booking .close:after,
.main-calender .quick-booking .close:before {
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    content: '';
    position: absolute;
    margin-top: -1px;
    background: #000;
}

.use-our-app .close::after,
.calendar-event .close::after,
.main-calender .quick-booking .close:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.use-our-app .close::before,
.calendar-event .close::before,
.main-calender .quick-booking .close:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.main-calender .quick-booking .close {
    right: -5px;
    width: 15px;
    height: 15px;
}

.calendar-event h1 {
    font-size: 24pt;
    margin-top: 46px;
    text-align: center;
    font-family: "Proxima Nova Condensed", serif;
    font-weight: 600;
    text-transform: uppercase;
}

.calendar-event .icons > a {
    color: black;
    width: 50px;
    cursor: pointer;
    display: inline-block;
    margin-top: 25px;
    margin-left: 78px;
}

.calendar-event .icons > a:hover {
    color: black;
    text-decoration: none;
}

.calendar-event .icons > a img {
    width: 38px;
    height: 41px;
    margin: auto;
    display: block;
}

.calendar-event .icons > a p {
    text-align: center;
    margin-top: 16px;
}

/**
      Out Of credits
   */

.out-of-credits {
    left: 50%;
    width: 361px;
    height: 144px;
    bottom: 0;
    display: none;
    padding: 36px 32px 23px;
    position: fixed;
    text-align: center;
    background: #f3f3f3;
    margin-left: -180px;
}

.out-of-credits p {
    font-size: 12pt;
    font-weight: 300;
    font-family: "ProximaNova Regular", serif;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.out-of-credits button {
    width: 100%;
    color: #ffffff;
    height: 45px;
    cursor: pointer;
    border: none;
    font-size: 14px;
    background: #000000;
    font-weight: bold;
    text-transform: uppercase;
}

/**
    use-our-app
 */

.use-our-app {
    left: 50%;
    width: 361px;
    height: 144px;
    bottom: 0;
    display: none;
    padding: 26px 32px 23px;
    position: fixed;
    text-align: center;
    background: #f3f3f3;
    margin-left: -180px;
}

.use-our-app .close {
    position: absolute;
}

.use-our-app .text {
    font-size: 14pt;
    font-family: "Proxima Nova Condensed", serif;
    margin-bottom: 15px;
    text-transform: uppercase;
}

/**
    time-not-available
 */

.time-not-available {
    top: 50%;
    left: 50%;
    width: 391px;
    height: 235px;
    z-index: 4;
    display: none;
    position: fixed;
    text-align: center;
    margin-top: -117.5px;
    margin-left: -195.5px;
    background: #ffffff;
}

.time-not-available h1 {
    font-size: 25pt;
    margin-top: 35px;
    font-weight: bold;
    font-family: "Proxima Nova Condensed", serif;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.time-not-available > div {
    font-size: 13pt;
    font-weight: bold;
    font-family: "ProximaNova Regular", serif;
}

.time-not-available button {
    color: #ffffff;
    width: 90px;
    height: 35px;
    cursor: pointer;
    border: none;
    font-size: 12pt;
    margin-top: 35px;
    background: #000;
    text-transform: uppercase;
}